* {
	box-sizing: border-box;
}
body,
.header ul {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.header {
	background-color: #000;
	padding: 10px 0;
}
.header li {
	display: inline-block;
}
.header ul {
	list-style: none;
	padding-left: 0;
}
.header nav {
	float: right;
	margin-top: 7px;
}
.header a {
	color: #9a9a9a;
	margin-left: 15px;
}
.header img {
	height: 30px; 
}
.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 15px;
}
.container:before,
.container:after {
	display: block;
	content: "";
	clear: both;
}
a {
	text-decoration: none;
	transition: all .3s ease;
}
button {
	transition: all .3s ease;
}
a:hover {
	color: #ff8b38;
}
.orange_line{
	background-color: #ff9b51;
	height:2px;
	width: 80px;
}
.first_button {
	margin-top: 20px;
	border: 1px solid #fff;
	background-color: transparent;
	padding: 10px 25px 10px 25px;
	color: #fff;
	margin-bottom: 30px;
}
/*SECTION 1*/
.section1 {
	background: url("../images/section1.jpg") no-repeat center;
	background-size: cover;
	padding: 10px 0 100px 0;
}
.section1 h1 {
	width: 45%;
	font-size: 30px;
	color: #ffffff;
}
.section1 p {
	margin-top: 25px;
	width: 40%;
	color: #ffffff;
}
.section1 img {
	margin: 50px 0 0 50px;
}
button.first_button:hover {
	color: #ff9b51;
}
/*SECTION 2*/
.section2 li {
	display: inline;
	padding-left: 50px;
}
.section2 ul {
	text-align: right;
}
.section2 .fa {
	font-size: 40px;
}
.section2 {
	padding: 5px 0;
	box-shadow: 0 2px 5px #000;
}
.social-description {
	width: 550px;
	float: left;
}
.section2 p {
	font-size: 12px;
	color: #9a9a9a;
}
.social-description h5 {
	font-size: 17px;
	margin: 0 0 5px;
}
/*SECTION 3*/
.section3 {
	margin-top: 5px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #f5f5f5;
}
.tabs_effect {
	width: 200px;
	float: left;
	height: 200px;
}
.additaonal_inf{
	width: 500px;
	float: left;
}
.additaonal_inf h3 {
	font-size: 23px;
}
.additaonal_inf p {
	font-size: 14px;
	color: #9a9a9a;
}
.section3 ul {
	list-style: none;
	padding-left: 0;
}
.section3 button {
	border: 1px solid #fff;
	border-radius: 4%;
	background-color: #333333;
	color: #ffffff;
}
.tab_buttons {
	padding: 40px 30px 40px 30px;
}
.tab_button_download {
	padding: 10px 15px 10px 15px;
	margin-top: 17px;
}
button.tab_buttons:hover {
	background-color: #ff8b38; 
}
button.tab_button_download:hover{
	background-color: #ff8b38; 
}
.image_city {
	float: left;
	width: 220px;
	padding: 40px 40px 5px 70px;
}
/*SECTION 4*/
.section4 img {
	width: 40%;
	margin: 100px 0 100px 0;
	float: left;
	box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.3);
}
.sec4_header {
	width: 40%;
	margin: 40px 50px 80px 150px;
	font-size: 23px;
	float: left;
}
.section4 h4 {
	margin: 0;
	padding: 20px 0 0 80px;
}
.section4 p {
	margin-top: 25px;
	font-size: 14px;
	color: #9a9a9a;
}
.section4 .s4p {
	margin-top: 7px;
	padding-left: 80px;
}
.section4 ul {
	list-style: none;
	padding-left: 0;
}
.section4 li {
	float: left;
	padding: 30px 30px 30px 0;
}
.section4 .fa {
	font-size: 40px;
}
/*SECTION 5*/
.section5 {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #f5f5f5;
}
.s5_text {
	width: 500px;
	float: left;
}
.section5 h3 {
	margin-bottom: 25px;
	font-size: 23px;
}
.section5 p {
	margin-top: 25px;
	font-size: 14px;
	color: #9a9a9a;
}
.section5 img {
	margin-left: 150px;
	text-align: right;
	width: 450px;
	box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.3);
}
/*SECTION 6*/
.section6 {
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}
.section6 .orange_line {
	margin-left: auto;
	margin-right: auto;
}
.section6 p {
	margin-top: 25px;
	font-size: 14px;
	color: #9a9a9a;
}
.section6 h2 {
	font-size: 30px;
}
.section6 li {
	display: inline-block;
	font-size: 40px;
}
.section6 ul {
	margin-top: 40px;
	padding-left: 0;
}
.section6_items {
	display: inline-block;
	width: 33%;
	padding-right: 10px;
	padding-left: 10px;
}
/*SECTION 7*/
.section7 {
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	background-color: #f5f5f5;
}
.section7 .orange_line {
	margin-left: auto;
	margin-right: auto;
}
.section7 p {
	margin-top: 25px;
	font-size: 14px;
	color: #9a9a9a;
}
.section7 h2 {
	font-size: 30px;
}
/*SECTION 8*/
.section8 {
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}
.section8 .orange_line {
	margin-left: auto;
	margin-right: auto;
}
.section8 .sec8_p, li {
	margin-top: 25px;
	font-size: 14px;
	color: #9a9a9a;
}
.section8 h2 {
	font-size: 30px;
}
.dialog_window {
	display: inline-block;
	width: 25%;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 40px;
	margin-left: 40px;
}
.section8 ul {
	padding-left: 0;
	margin-top: 40px;
	list-style: none;
}
.section8 li {
	padding: 20px 10px 20px 10px;
	background-color: #f5f5f5;
}
.section8 .fa {
	font-size: 60px;
	float: left;
	margin-top: 20px;
	color: #9a9a9a;
}
.section8 h6 {
	text-align: left;
	margin: 20px 0 0 70px;
	font-size: 20px;
	color: #606060;
}
.section8 .sec8_p2 {
	text-align: left;
	margin: 5px 0 0 70px;
	font-size: 14px;
	color: #9a9a9a;
}
/*SECTION 9*/
.section9 {
	background: url("../images/section9.jpg") no-repeat center;
	background-size: cover;
	padding: 50px 0 100px 0;
	text-align: center;
}
.section9 .orange_line {
	margin-left: auto;
	margin-right: auto;
}
.section9 p {
	margin-top: 25px;
	font-size: 14px;
	color: #d2d2d4;
}
.section9 h2 {
	font-size: 30px;
	color: #ffffff;
}
/*SECTION 10*/
.section10 {
	padding: 70px 0;
	text-align: center;
}
.section10 p {
	margin-top: 25px;
	font-size: 14px;
	color: #d2d2d4;
}
.section10 h2 {
	font-size: 30px;
}
.section10 .orange_line {
	margin-left: auto;
	margin-right: auto;
}
.contact {
	width: 580px;
	float: left;
}
.section10 input {
	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
	border: none;
	border-bottom: 1px solid #ccc;
}
#message {
	line-height: 15px;
	height: 155px;
}
/*FOOTER*/
.footer {
	padding: 10px 0;
	text-align: center;
	background-color: #000000;
}
.footer li {
	display: inline;
	margin: auto;
	padding: 0 10px;
}
.footer ul {
	padding: 0;
}
.footer .fa {
	font-size: 25px;
	color: #d2d2d4;
}
.footer p {
	font-size: 10px;
	color: #d2d2d4;
}
